<?xml version="1.0" encoding="UTF-8"?>
<suite name="AutomationSuite">
    <listeners>
        <listener class-name="listnener.Testlistner"/>
    </listeners>

    <test name="RegressionTests">
        <classes>
            <class name="tests.VerifySubscriptionTC"/>
        </classes>
    </test>
</suite>
